/* código omitido */

body {
    background-color: #d50e0e;
    color: white;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #5258cb;
    color: white;
    font-family: "Noto Sans", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}